@import "tailwindcss";

html, body {
    background: var(--color-amber-50);
    padding: 0 var(--spacing-1);
}

h1 {
    font-size: var(--font-size-4xl);
    font-family: var(--font-kode-mono);
}

h2 {
    font-size: var(--font-size-2xl);
    font-family: var(--font-kode-mono);
}

a {
    @apply text-amber-700 underline decoration-1;
}